= haml :form

.panel.panel-default
  .panel-heading
    %label
      Results for
      =@client_response.params[:city].titleize
      in
      =@client_response.params[:country].titleize
      from
      =@client_response.params[:start_date]
      to
      =@client_response.params[:end_date]

  .panel-body      
    %table.table.table-hover.table-bordered
      %tr
        %th Temperature (°C)
        %th Min
        %th Max
        %th Average
      %tr
        %td Low
        %td= @client_response.temp_low.min_C
        %td= @client_response.temp_low.max_C
        %td= @client_response.temp_low.avg_C
      %tr
        %td High
        %td= @client_response.temp_high.min_C
        %td= @client_response.temp_high.max_C
        %td= @client_response.temp_high.avg_C

    %table.table.table-hover.table-bordered
      %tr
        %th Cloud cover
        %th Min rainfall (cm)
        %th Max rainfall (cm)
        %th Average rainfall (cm)
      %tr
        %td= @client_response.cloud_cover
        %td= @client_response.rain_levels.min_cm
        %td= @client_response.rain_levels.max_cm
        %td= @client_response.rain_levels.avg_cm

    %table.table.table-hover.table-bordered
      %tr
        %th Condition
        %th Percentage      
        - @client_response.chance_of_keys.each do | key |       
          %tr
            %td= @client_response.chance_of(key).name
            %td= @client_response.chance_of(key).percentage